{% extends 'Shorten/base.html' %} {% block extra_style %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
    }
    
    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }
    
    .searchbar:hover>.search_input {
        padding: 0 10px;
        width: 450px;
        caret-color: red;
        transition: width 0.4s linear;
    }
    
    .searchbar:hover>.search_icon {
        background: white;
        color: #e74c3c;
    }
    
    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        text-decoration: none;
    }
</style>
{% endblock extra_style %} {% block content %}
<div class="container h-100">
    {% if shorten and tracker %}
    <div class="alert alert-success mt-4" role="alert">
        <b>Shorten: </b><a class="alert-link" href="{% url 'app_shorten:shortenurl' shorten %}">http://{{request.get_host}}/{{shorten}}</a>
    </div>
    <div class="alert alert-success mt-1" role="alert">
        <b>Tracker: </b><a class="alert-link" href="{% url 'app_shorten:trackerurl' tracker %}">http://{{request.get_host}}/{{tracker}}</a>
    </div>
    {% elif form %} {% for field in form %} {% for error in field.errors %}
    <div class="alert alert-danger mt-1" role="alert">
        <b>{{error}}</b>
    </div>
    {% endfor %} {% endfor %} {% endif %}
    <div class="d-flex justify-content-center h-50">
        <form method="post" class="searchbar" action="{% url 'app_shorten:shorten_home' %}">
            {% csrf_token %}
            <input class="search_input" type="text" name="original" placeholder="ENTER YOUR URL....">
            <button class="btn-success search_icon" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
{% endblock content %}